@import "tailwindcss";

/* Root variables for colors */
:root {
  --background-color: #030014;
  --primary-color: #ffffff;
  --secondary-color: #ccc;
  --tertiary-color: #777;
  --shadow-color: rgba(255, 255, 255, 0.1);
}

/* Apply global body styles */
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Arial", sans-serif;
}

/* Navbar styles */
.navbar-shadow {
  box-shadow: 0 4px 10px var(--shadow-color);
}

.fixed-navbar {
  @apply fixed top-0 left-0 w-full flex items-center justify-between px-6 md:px-12 py-4 backdrop-blur-md border-b shadow-lg z-50 bg-white/10 border-white/20;
  height: 65px;
}

/* Apply sidebar styles */
.profile-image {
  @apply w-28 h-28 mx-auto rounded-full border-2 border-[var(--secondary-color)] shadow-md object-cover;
}

.detail-section {
  @apply space-y-6 text-sm mt-1;
}

.detail-heading {
  @apply mt-4 font-semibold text-[var(--secondary-color)];
}

.sidebarBtn {
  @apply w-full py-3 rounded-md font-medium shadow transition cursor-pointer;
}